*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-image: url("background-img.jpg");
    height: 100%;
	background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
}

#search{
    border: 2px solid midnightblue;
    border-radius: 6px;
    outline: none;
    height: 40px;
    width: 180px;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
}
#btn{
    padding: 6px 12px;
    margin: 10px;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 6px;
}
.statistic-header{
    text-align: center;
}
.temp-row{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.bg-color{
    background-color: rgba(255, 255, 255, 0.6);
}
#hourly-city ::first-letter{
    text-transform: capitalize;
}
.capital ::first-letter{
    text-transform: capitalize;
}





